body {
  background: #000011;
  color: white;
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
  font-size: 13px;
  font-family: poppinsbold;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: white;
  border: transparent 2px solid;
  border-radius: 10px;
}

a:hover {
  border-bottom: #e2f109 solid 2px;
  transition: 0.3s all;  
}

main {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  
}

.cardItem {
  border: solid 2px #e2f109;
  border-radius: 20px;
  display: none;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.cardItem.active {
  display: block;
}

.cardImg {
  float: left;
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.cardInfo {
  text-align: center;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: transparent solid 2px;
  background-color: #e2f109;
  cursor: pointer;
}


@media(max-width: 550px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    margin: 10px;
    font-size: 10px;
  }
  
  main {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .cardItem {
    width: 60%;
    padding-bottom: 15px;
    font-size: 13px;
  }

  .cardImg {
    border-radius: 20px;
    width: 100%;
  }
}