body {
  background: #000011;
  color: white;
  font-family: poppinsregular;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
  font-size: 13px;
  font-family: poppinsbold;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  color: white;
  border: transparent 2px solid;
  border-radius: 10px;
}

a:hover {
  border-bottom: #e2f109 solid 2px;
  transition: 0.3s all;  
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  
  
}

.cardItem {
  display: none;
  width: 30%;
  border: #e2f109 solid 2px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
  bottom: -20px;
}

.cardItem.active {
  display: block;
}

.cardImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.cardInfo {
  text-align: center;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: transparent solid 2px;
  background-color: #e2f109;
  cursor: pointer;
}

#prev, #next {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #e2f109;
  border: 1px solid #e2f109e9;
  color: #000011;
  font-size: x-large;
  font-family: monospace;
  cursor: pointer;
  z-index: 4;
  border-radius: 9999px;
}

#prev {
  left: 28%;
}

#next {
  right: 28%;
}


@media(max-width: 550px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    margin: 10px;
    font-size: 10px;
  }
  
  main {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .cardItem {
    width: 60%;
    padding-bottom: 15px;
    font-size: 13px;
  }


  .cardImg {
    width: 229px;
    border-radius: 20px;
    width: 100%;
  }

  .cardInfo {
    justify-content: space-between;
  }

  #prev, #next {
    width: 30px;
  }

  #prev {
    left: 10px;
  }
  
  #next {
    right: 10px;
  }
}
